<section class="section padded" id="software">
	<div class="confined HomeSoftware">
		<div class="item">
			<h2><i class="icon icon-upload-cloud"></i> Web <span class="break"><br/></span>Applications</h2>
			<p>We specialize in the development of single page applications and cloud based software driven by REST API backend services. Using established frameworks such as AngularJS or Ember.js, we produce state of the art web applications.</p>
			<p><a ui-sref="home.contact" title="Web applications">Find out more</a></p>
		</div>
		<div class="item">
			<h2><i class="icon icon-monitor"></i> Human Machine Interfaces</h2>
			<p>We produce quality HMI's and other graphical user interfaces for a wide range of applications like industrial software, risk analysis tools and psychological test suites. Although we focus on flexible web based GUI's, we can also provide desktop applications.</p>
			<p><a ui-sref="home.contact" title="GUI's / HMI's">Find out more</a></p>
		</div>
		<div class="item">
			<h2><i class="icon icon-cogs"></i> Technical <span class="break"><br/></span>Software</h2>
			<p>We can develop a broad range of technical software and applications for you. Our developers are experienced in a variety of programming languages and development frameworks, such as C++, C#/.NET, Java, Qt, Python, PHP, MySQL and Javascript.</p>
			<p><a ui-sref="home.contact" title="Technical applications">Find out more</a></p>
		</div>
	</div>
</section>
