
.HomeSoftware {
	h2 {
		margin-bottom: $marginParagraph/2;
		.break {
			display: none;
		}
		.icon {
			margin-right: .5rem;
		}
	}
	p {
		margin-bottom: $marginParagraph/2;
	}

	@media (min-width: 768px) {
		display: flex;
		h2 {
			text-align: center;
			.break {
				display: inline;
			}
		}
		.icon {
			font-size: 3rem;
			display: block;
			margin: 0 0 $marginParagraph/2 0;
		}
		.item {
			flex: 1 0 0;
			padding: 0 1.5rem;
			&:first-child {
				margin-left: -1.5rem;
			}
			&:last-child {
				margin-right: -1.5rem;
			}
		}
	}
}
