<!DOCTYPE html>
<html ng-controller="AppCtrl">
<head>
	<base href="/" />
	<title ng-bind="title">Digitalization</title>
	<meta charset="utf-8" />
	<meta name="author" content="Digitalization" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300">
	<% styles.forEach(function (file) { %>
    <link rel="stylesheet" type="text/css" media="screen" href="<%= file %>" /><% }); %>
    <% scripts.forEach(function (file) { %>
    <script src="js/<%= file %>"></script><% }); %>
</head>

<body lang="nl" detect-scrolling>
<header ng-controller="NavCtrl" ng-class="{'compact': isCompact}">
	<div class="padder">
		<img class="logo pointer" src="assets/images/site/logo-compound.png" ui-sref="home" />
		<nav>
			<menu class="no-spacing" ng-cloak>
				<li ng-repeat="item in Menu.main"><a ui-sref="{{item.sref}}" ui-sref-active="active" title="{{item.title}}">{{item.title}}</a></li>
			</menu>
		</nav>
	</div>
</header>
<main ui-view class="state">

</main>
<footer>
	<nav>
		<menu class="no-spacing" ng-cloak>
			<li ng-repeat="item in Menu.footer"><a ui-sref="{{item.sref}}" ui-sref-active="active" title="{{item.title}}">{{item.title}}</a></li>
		</menu>
	</nav>
	<p class="copyright">Copyright &copy; <span ng-bind="DigiSite.copyright">2014</span> <span ng-bind="DigiSite.name">Digitalization</span></p>
	<img src="assets/images/site/logo.png">
</footer>
<script>
	angular.element(document).ready(function() {
        setTimeout(function() {
        	angular.bootstrap(document.getElementsByTagName('html')[0], ['DigiSite']);
        }, 10);
    });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-26149031-1', 'www.digitalization.nl');
    ga('send', 'pageview');
</script>
</body>
</html>