
.SiteHeader {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background: lighten($colorBlack, 10%);

	/**
	 * Wrapper
	 */
	.wrapper {
		padding: .25rem 0;
		height: $heightHeader;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/**
	 * Title
	 */
	.title {
		min-width: 150px;
	}

	/**
	 * Links
	 */
	a {
		-webkit-font-smoothing: subpixel-antialiased;
		text-transform: uppercase;
		display: block;
		color: $colorWhite;
		cursor: pointer;
		border-color: transparent;
		transition: color .2s linear;
		&:hover {
			text-decoration: none;
			color: $colorWhite;
		}
	}

	/**
	 * Menu
	 */
	.menu {
		font-size: 0;
		li {
			list-style:	none;
			vertical-align: top;
			font-size: $fontSizeNormal;
		}
	}

	/**
	 * Mobile menu
	 */
	@media (max-width: 767px) {

		/**
		 * Menu
		 */
		.menu {
			position: absolute;
			top: $heightHeader;
			left: 0;
			width: 100%;
			background: fade-out($colorBlack, .2);
			transform: translate3d(-100%,0,0);

			/**
			 * Mobile state enables transitions
			 * This is necessary to prevent menu transitions when resizing window.
			 */
			&.mobile {
				transition: all .4s ease-out;
			}

			/**
			 * Visible state
			 */
			&.visible {
				transform: translate3d(0,0,0);
			}

			/**
			 * Links
			 */
			a {
				text-transform: lowercase;
				padding: 1rem 2rem;
				border-top: 1px solid fade-out($colorWhite, .8);
				&:hover {
					background: fade-out($colorWhite, .9);
				}
			}
		}
	}

	/**
	 * Desktop menu
	 */
	@media (min-width: 768px) {

		/**
		 * Wrapper
		 */
		.wrapper {
			padding: .625rem 0;
			height: $heightHeaderTall;
			transition: all .2s linear;
		}

		/**
		 * Menu
		 */
		.menu {
			display: block;
			text-align: right;
			text-transform: uppercase;
			flex: 2 0 0;
			li {
				display: inline-block;
				margin: 0 1rem;
				&:last-child {
					margin-right: 0;
				}
				&.special {
					a {
						font-style: $fontStyleItalic;
						text-transform: lowercase;
					}
				}
			}
		}

		/**
		 * Links
		 */
		a, .menu a {
			transition: all .2s linear;
			display: inline-block;
			padding: .3rem 0;
			text-shadow: 0 0 15px rgba(0,0,0,.5);
			border-bottom: 3px solid transparent;
			&:hover {
				color: $colorWhite;
				border-bottom: 3px solid $colorWhite;
				background: none;
			}
		}

		/**
		 * Compact header
		 */
		background: none;
		transition: background .2s linear;
		&.compact {
			background: lighten($colorBlack, 10%);
			box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
			.wrapper {
				height: $heightHeader;
			}
			a {
				color: $colorWhite;
				padding: 0;
				text-shadow: none;
				&:hover {
					color: $colorPrimary;
					border-bottom: 3px solid transparent;
				}
				&.active {
					border-bottom: 3px solid $colorPrimary;
				}
			}
		}
	}
}

/**
 * Menu toggle
 */
.menu-toggle {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	width: 1.75rem;
	cursor: pointer;
	span {
		display: block;
		width: 100%;
		height: 2px;
		margin: 6px 0;
		background: $colorWhite;
		transition: all .1s linear;
	}
	&:hover {
		span {
			background: $colorTextLink;
		}
	}
	&.toggled {
		span {
			&:nth-child(1) {
				margin-left: 25%;
				width: 75%;
			}
			&:nth-child(2) {
				margin-left: 45%;
				width: 55%;
			}
			&:nth-child(3) {
				margin-left: 65%;
				width: 35%;
			}
		}
	}

	/**
	 * Media query
	 */
	@media (min-width: 768px) {
		display: none;
	}
}
