<!DOCTYPE html>
<html ng-controller="AppCtrl">
<head>
	<base href="/" />
	<title ng-bind="DigiSite.name">Digitalization</title>
	<meta charset="utf-8" />
	<meta name="author" content="Digitalization" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300">
	<% styles.forEach(function (file) { %>
    <link rel="stylesheet" type="text/css" media="screen" href="<%= file %>" /><% }); %>
    <% scripts.forEach(function (file) { %>
    <script src="js/<%= file %>"></script><% }); %>
</head>
<body lang="en" detect-window-scrolling>
<header class="site-header" ng-controller="NavCtrl" ng-class="{compact: isScrolled}">
	<div class="confined">
		<div class="wrapper" ng-cloak>
			<div class="logo">
				<img class="pointer" src="assets/images/site/logo-compound.png" ui-sref="home" />
			</div>
			<button type="button" class="menu-toggle" ng-click="toggleMenu()" ng-class="{toggled: isMenuVisible}">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<nav class="menu" ng-class="{visible: isMenuVisible, mobile: isMobile}" ng-click="toggleMenu(false)">
				<menu ng-cloak>
					<li ng-repeat="item in Menu" ng-class="item.classes"><a ui-sref="{{item.sref}}" ng-class="{active: isActiveState(item.sref)}" title="{{item.title}}">{{item.title}}</a></li>
				</menu>
			</nav>
		</div>
	</div>
</header>
<main class="site-contents" ui-view></main>
<footer class="site-footer">
	<div class="confined">
		<div class="wrapper">
			<div class="text">
				<menu ng-cloak>
					<li ng-repeat="item in Menu"><a ui-sref="{{item.sref}}" ng-class="{active: isActiveState(item.sref)}" title="{{item.title}}">{{item.title}}</a></li>
				</menu>
				<p>Copyright &copy; <span ng-bind="DigiSite.copyright">2015</span> <span ng-bind="DigiSite.name">Digitalization</span></p>
			</div>
			<div class="logo">
				<a class="pointer" ui-sref="home"><img src="assets/images/site/logo.png" /></a>
			</div>
		</div>
	</div>
</footer>
<script>
	angular.element(document).ready(function() {
        setTimeout(function() {
        	angular.bootstrap(document.getElementsByTagName('html')[0], ['DigiSite']);
        }, 10);
    });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-26149031-1', 'auto');
</script>
</body>
</html>