<section class="section padded dark" id="company">
	<div class="confined HomeCompany">
		<div class="text">
			<h1>About us</h1>
			<p>Founded in 2005 in Delft, The Netherlands, Digitalization has grown into a reliable and innovative software partner, specialized in technical projects ranging from industrial automation to embedded software and web applications. In the 10 years that we have been providing software services, our multidisciplinary team has built up a consistent track record of delivering high quality software, on time and at competitive rates.</p>
			<p>The opening in 2011 of our New Zealand office located in Wellington has enabled us to provide a truly global service with round the clock support for our clients.</p>
			<p>We are always on the lookout for new opportunities. Get in touch with us if you have a project we might be able to help you with.</p>
			<p><a class="button" ui-sref="home.contact" ng-click="scrollTo('contact')">Contact us</a></p>
		</div>
		<div class="images">
			<img src="images/site/delft.jpg" />
			<img src="images/site/wellington.jpg" />
		</div>
</section>
