
/*****************************************************************************
 * Columns
 ***/

.columns {
	display: flex;
}
.column {
	flex: 1;
	i {
		font-size: 3rem;
	}
	i, h2 {
		text-align: center;
	}
	p {
		width: 80%;
		margin: 0 auto @lineHeight;
	}
}
.logos {
	display: flex;
	flex-wrap: wrap;
	div {
		height: 200px;
		width: 33%;
		text-align: center;
	}
	div:before {
		content: ' ';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	img {
		display: inline-block;
		vertical-align: middle;
	}
}

/*****************************************************************************
 * Projects
 ***/

.projects {
	display: flex;
	flex-wrap: wrap;
}
project {
	position: relative;
	display: block;
	width: 33.33333%;
	background-size: cover;
	cursor: pointer;
	.cover {
		.transition(opacity 0.3s linear);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: fadeout(@colorAccent, 15%);
		.info {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			padding: 0 1rem 0 2rem; /* Extra padding on the left to compensate negative margin of :before */
		}
	}
	.cover:before {
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
		margin-right: -1rem; /* To make sure the elements fit on one line */
	}
	.cover.ng-show, .cover.ng-hide.ng-hide.active {
		opacity: 1;
	}
	.cover.ng-hide, .cover.ng-show.ng-show.active {
		opacity: 0;
	}
	h2, p {
		text-align: center;
		color: @colorWhite;
	}
	p {
		font-size: @fontSizeSmall;
	}
	h2 {
		font-weight: @fontWeightBold;
		margin-bottom: 0;
	}
}
project:nth-child(3n+2) {

}
project:before {
	content: "";
	display: block;
	padding-top: 75%;
	background: fadeout(@colorAccent, 90%);
}