<!-- home/home.html -->
<section class="hero" cover-up="1" background-image="assets/images/site/hero.jpg">
	<article>
		<hgroup>
			<h1>Software <i>re</i>invented.</h1>
			<h2>We specialize in innovative technical software.</h2>
		</hgroup>
	</article>
</section>
<section class="shadow" id="software">
	<article class="columns">
		<div class="column third">
			<i class="icon-cogs"></i>
			<h2>Industrial<br />Automation</h2>
			<p>Digitalization produces SCADA and HMI software for industrial automation projects. By using hardware simulation, both development time and occurence of bugs are greatly reduced. Web-based interfaces furthermore eliminate platform dependency and software licensing fees.</p>
			<p><a ui-sref="industrial" title="Industrial automation">Find out more</a></p>
		</div>
		<div class="column third">
			<i class="icon-plug"></i>
			<h2>Embedded<br />Software</h2>
			<p>Our experienced embedded software programmers offer expertise on a range of platforms, such as Arduino, Raspberry Pi and Microchip. Our multi-disciplinary team can program the controllers, write interfaces and connect to a graphical user interface.</p>
			<p><a ui-sref="embedded" title="Embedded software">Find out more</a></p>
		</div>
		<div class="column third">
			<i class="icon-database"></i>
			<h2>Technical<br />Applications</h2>
			<p>Digitalization can develop a broad range of technical software and applications for you in a variety of programming languages and development frameworks, such as C++, C#, Qt, Java, Python, PHP, Javascript, AngularJS and Node.</p>
			<p><a ui-sref="technical" title="Technical applications">Find out more</a></p>
		</div>
	</article>
</section>
<section class="shadow-breaker"></section>
<section class="no-padding projects" id="projects">
	<project ng-repeat="Project in Projects" background-image="{{Project.thumb}}" ng-cloak ng-mouseenter="Project.focus=true" ng-mouseleave="Project.focus=false" ui-sref="projects.view({projectId:$index})">
		<div class="cover" ng-show="Project.focus">
			<div class="info">
				<h2>{{Project.name}}</h2>
				<p>{{Project.tagline}}</p>
			</div>
		</div>
	</project>
</section>
<section class="shadow">
	<article>
		<h2>We did it before! Find out how we can help you. <a class="button" ui-sref="home.contact" ng-click="scrollTo('contact')">Tell me more!</a></h2>
	</article>
</section>
<section class="shadow dark" id="company">
	<article class="right widest with-aside">
		<h2>About us</h2>
		<p>Founded in 2005 in Delft, The Netherlands, Digitalization has grown into a reliable and innovative software partner for technical projects ranging from industrial automation to embedded software and web applications. In the 10 years that we have been providing software services, our team has built up a consistent track record of delivering high quality software, on time and at competitive rates.</p>
		<p>The opening in 2011 of our New Zealand office in Wellington has enabled us to provide a global service with round the clock support for our clients.</p>
		<p>We are always on the lookout for new opportunities. Get in touch with us if you have a project we might be able to help you with.</p>
		<p><a class="button" ui-sref="home.contact" ng-click="scrollTo('contact')">Contact us</a></p>
	</article>
	<aside>
		<img src="assets/images/site/delft.jpg" />
		<img src="assets/images/site/wellington.jpg" />
	</aside>
</section>
<section class="shadow less-padding">
	<article>
		<article class="logos">
			<div><img src="assets/images/logos/tno.png" /></div>
			<div><img src="assets/images/logos/eurofins.png" /></div>
			<div><img src="assets/images/logos/tecnic.png" /></div>
			<div><img src="assets/images/logos/travelport.png" /></div>
			<div><img src="assets/images/logos/aqualab.png" /></div>
			<div><img src="assets/images/logos/travelfusion.png" /></div>
			<div><img src="assets/images/logos/neurocenters.png" /></div>
			<div><img src="assets/images/logos/sdna.png" /></div>
			<div><img src="assets/images/logos/lavetan.png" /></div>
			<div><img src="assets/images/logos/epona.png" /></div>
			<div><img src="assets/images/logos/brandweer.png" /></div>
			<div><img src="assets/images/logos/ahh.png" /></div>
			<div><img src="assets/images/logos/octatube.png" /></div>
			<div><img src="assets/images/logos/rhine.png" /></div>
			<div><img src="assets/images/logos/ucp.png" /></div>
		</article>
	</article>
</section>
<section class="notes overlay" background-scroll="assets/images/large/20140122-Machines-007.jpg" scroll-x="0.2" scroll-y="0.5">
	<article>
		<div class="note">
			<h4 class="icon-gauge">Faster results</h4>
			<p>Agile techniques and hardware simulation to allows concurrent software and hardware development for faster results.</p>
			<p><a ui-sref="industrial">Find out more</a></p>
		</div>
		<div class="note">
			<h4 class="icon-megaphone">Join our team</h4>
			<p>Interested in joining our team as a versatile software developer? We'd love to talk to you about your options!</p>
			<p><a ui-sref="vacancies">Find out more</a></p>
		</div>
		<span class="linebreak"></span>
	</article>
</section>
<section class="blue no-bottom shadow flex" id="contact">
	<article class="with-aside wider">
		<h2>Get in touch</h2>
		<p>Want to know more or get in touch with us? Fill out the form below and we'll get back to you!</p>
		<form name="Form" ng-submit="submitForm(contact)"  novalidate ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}">
			<input type="text" name="name" id="name" ng-model="contact.name" required placeholder="name" />
			<span class="error" ng-show="Form.$submitted || Form.name.$dirty" ng-messages="Form.name.$error">
				<p class="message" ng-message="required">Please fill out your name.</p>
			</span>
			<input type="email" name="email" id="email" ng-model="contact.email" required placeholder="e-mail address" />
			<span class="error" ng-show="Form.$submitted || Form.email.$dirty" ng-messages="Form.email.$error">
				<p class="message" ng-message="required">Please fill out your e-mail address so we can get in touch with you.</p>
				<p class="message" ng-message="email">Please enter a valid e-mail address.</p>
			</span>
			<input type="phone" name="phone" id="phone" ng-model="contact.phone" placeholder="phone number (optional)" />
			<textarea name="question" id="question" ng-model="contact.question" required placeholder="your question or comments"></textarea>
			<span class="error" ng-show="Form.$submitted || Form.question.$dirty" ng-messages="Form.question.$error">
				<p class="message" ng-message="required">Please fill out your question or comments.</p>
			</span>
			<button class="button primary" type="submit">Submit</button>
		</form>
	</article>
	<aside class="blue-box">
		<div>
			<h6>Netherlands office</h6>
			<p>Rotterdamseweg 183 c<br />2629 HD Delft</p>
			<p>+31 (0)15 268 25 69<br /><a href="mailto:info@digitalization.nl">info@digitalization.nl</a></p>
			<h6>New Zealand office</h6>
			<p>113 Tory Street<br />Wellington 6011</p>
			<p>+64 (0)22 100 1067<br /><a href="mailto:info@digitalization.nl">info@digitalization.nl</a></p>
			<p class="no-mobile">&nbsp;</p>
			<span class="icon-paper-plane large-icon"></span>
		</div>
	</aside>
</section>