<!-- home/home.html -->
<div class="hero" id="home" background-image="assets/images/site/hero.jpg">
	<header>
		<h1>Software <i>re</i>invented.</h1>
		<p>We specialize in innovative technical software.</p>
	</header>
</div>
<section class="section padded" id="software">
	<div class="confined software">
		<div class="item">
			<h2><i class="icon icon-upload-cloud"></i> Web <span class="break"><br/></span>Applications</h2>
			<p>We specialize in the development of single page applications and cloud based software driven by REST API backend services. Using established frameworks such as AngularJS or Ember.js, we produce state of the art web applications.</p>
			<p><a ui-sref="home.contact" title="Web applications">Find out more</a></p>
		</div>
		<div class="item">
			<h2><i class="icon icon-monitor"></i> Human Machine Interfaces</h2>
			<p>We produce quality HMI's and other graphical user interfaces for a wide range of applications like industrial software, risk analysis tools and psychological test suites. Although we focus on flexible web based GUI's, we can also provide desktop applications.</p>
			<p><a ui-sref="home.contact" title="GUI's / HMI's">Find out more</a></p>
		</div>
		<div class="item">
			<h2><i class="icon icon-cogs"></i> Technical <span class="break"><br/></span>Software</h2>
			<p>We can develop a broad range of technical software and applications for you. Our developers are experienced in a variety of programming languages and development frameworks, such as C++, C#/.NET, Java, Qt, Python, PHP, MySQL and Javascript.</p>
			<p><a ui-sref="home.contact" title="Technical applications">Find out more</a></p>
		</div>
	</div>
</section>
<section class="section dark projects" id="projects">
	<div class="project" ng-repeat="Project in Projects" background-image="{{Project.thumb}}" ng-cloak ng-mouseenter="Project.focus=true" ng-mouseleave="Project.focus=false" ui-sref="projects.view({projectId:$index})">
		<div class="cover" ng-show="Project.focus">
			<div class="info">
				<h2 ng-bind-html="Project.name"></h2>
				<p ng-bind-html="Project.tagline"></p>
			</div>
		</div>
	</div>
</section>
<section class="section padded">
	<div class="confined challenge">
		<header>
			<h1>Transform your idea into reality</h1>
			<p>The above will give you a small taste of our expertise, but we are always looking for a new challenge!</p>
		</header>
		<button type="button" class="button call-to-action" ui-sref="home.contact">Tell me more!</button>
	</div>
</section>
<section class="section padded dark" id="company">
	<div class="confined company">
		<div class="text">
			<h1>About us</h1>
			<p>Founded in 2005 in Delft, The Netherlands, Digitalization has grown into a reliable and innovative software partner, specialized in technical projects ranging from industrial automation to embedded software and web applications. In the 10 years that we have been providing software services, our multidisciplinary team has built up a consistent track record of delivering high quality software, on time and at competitive rates.</p>
			<p>The opening in 2011 of our New Zealand office located in Wellington has enabled us to provide a truly global service with round the clock support for our clients.</p>
			<p>We are always on the lookout for new opportunities. Get in touch with us if you have a project we might be able to help you with.</p>
			<p><a class="button" ui-sref="home.contact" ng-click="scrollTo('contact')">Contact us</a></p>
		</div>
		<div class="images">
			<img src="assets/images/site/delft.jpg" />
			<img src="assets/images/site/wellington.jpg" />
		</div>
</section>
<section class="section padded" id="clients">
	<div class="confined clients">
		<div class="client-logos">
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/tno.png" /></figure>
				<div class="text"><span>Standalone web based risk analysis demo application with dynamic SVG rendering</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/eurofins.png" /></figure>
				<div class="text"><span>Control software and HMI for a supervisory control and data acquisition system</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/tecnic.png" /></figure>
				<div class="text"><span>Control software and HMI's for projects in the bio medical industry</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/travelport.png" /></figure>
				<div class="text"><span>Integrated Travelport API's with online e-ticketing website</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/aqualab.png" /></figure>
				<div class="text"><span>Control software, human machine interface and server maintenance</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/travelfusion.png" /></figure>
				<div class="text"><span>Integrated Travelfusion API's with online e-ticketing website</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/neurocenters.png" /></figure>
				<div class="text"><span>Online psychological test suite to detect onset of neurological disorders</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/sdna.png" /></figure>
				<div class="text"><span>Secure database for storage of anti-theft kit data and protected police queries</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/lavetan.png" /></figure>
				<div class="text"><span>Control software and HMI for a supervisory control and data acquisition system</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/epona.png" /></figure>
				<div class="text"><span>Human machine interface for realistic baby robot simulator</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/brandweer.png" /></figure>
				<div class="text"><span>Elaborate backend to manage volunteer firemen registrations per region</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/keytrade.png" /></figure>
				<div class="text"><span>Banking application</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/octatube.png" /></figure>
				<div class="text"><span>Responsive website with backend management system</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/rhine.png" /></figure>
				<div class="text"><span>Secure database for storage of anti-theft kit data and protected police queries</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/ahh.png" /></figure>
				<div class="text"><span>Backend system to manage 3rd party flash driven dynamic website front-end</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/effio.png" /></figure>
				<div class="text"><span>Online store with payment gateway and backend management system</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/jj.png" /></figure>
				<div class="text"><span>Online store with payment gateway and backend management system</span></div>
			</div>
			<div class="wrap" flippable>
				<figure class="logo"><img src="assets/images/logos/ucp.png" /></figure>
				<div class="text"><span>Simple website with backend management system</span></div>
			</div>
		</div>
	</div>
</section>
<section class="section padded overlay" background-scroll="assets/images/large/20140122-Machines-007.jpg" scroll-x="0.2" scroll-y="0.5">
	<div class="notes">
		<div class="note">
			<h2><i class="icon icon-gauge"></i> Faster results</h2>
			<p>Agile methodology and hardware simulation allows concurrent software and hardware development.</p>
			<p><a ui-sref="home.contact" class="pointer">Find out more</a></p>
		</div>
		<div class="note">
			<h2><i class="icon icon-megaphone"></i> Join our team</h2>
			<p>Interested in joining our team as a versatile software developer? We'd love to talk to you about your options!</p>
			<p><a ui-sref="home.contact" class="pointer">Find out more</a></p>
		</div>
	</div>
</section>
<section class="section padded blue" id="contact">
	<div class="confined contact">
		<h1>Get in touch</h1>
		<p>Want to know more or get in touch with us? Fill out the form below and we'll get back to you!</p>
		<div class="contact-section">
			<div class="contact-form">
				<form class="form" name="contactForm" ng-submit="submitContactForm(contact)" novalidate ng-model-options="{updateOn: 'blur', debounce: {blur: 0}}">
					<div class="form-group" ng-class="{'has-error': hasError(contactForm.name, contactForm)}">
						<input class="form-control" type="text" name="name" id="name" ng-model="contact.name" required placeholder="name" />
					</div>
					<div ng-show="contactForm.$submitted || contactForm.name.$dirty" ng-messages="contactForm.name.$error">
						<p class="error" ng-message="required">Please enter your name</p>
					</div>
					<div class="form-group" ng-class="{'has-error': hasError(contactForm.email, contactForm)}">
						<input class="form-control" type="email" name="email" id="email" ng-model="contact.email" required placeholder="email address" />
					</div>
					<div ng-show="contactForm.$submitted || contactForm.email.$dirty" ng-messages="contactForm.email.$error">
						<p class="error" ng-message="required">Please enter your e-mail address</p>
						<p class="error" ng-message="email">That e-mail address appears to be invalid.</p>
					</div>
					<div class="form-group" ng-class="{'has-error': hasError(contactForm.message, contactForm)}">
						<textarea class="form-control" name="message" id="message" ng-model="contact.message" required placeholder="your message" rows="5"></textarea>
					</div>
					<span ng-show="contactForm.$submitted || contactForm.message.$dirty" ng-messages="contactForm.message.$error">
						<p class="error" ng-message="required">Please enter your message</p>
					</span>
					<button class="button" type="submit" ng-disabled="isSending" ng-bind="isSending?'Sending...':'Submit'">Submit</button>
					<span class="sent" ng-show="isSent">Thanks for getting in touch! We'll get back to you as soon as possible.</span>
				</form>
			</div>
			<div class="contact-details">
				<div class="netherlands">
					<h2>Netherlands office</h2>
					<p>Rotterdamseweg 183 c<br />2629 HD Delft</p>
					<p>+31 (0)15 268 25 69<br /><a href="mailto:info@digitalization.nl">info@digitalization.nl</a></p>
				</div>
				<div class="new-zealand">
					<h2>New Zealand office</h2>
					<p>113 Tory Street<br />Wellington 6011</p>
					<p>+64 (0)22 100 1067<br /><a href="mailto:info@digitalization.nl">info@digitalization.nl</a></p>
				</div>
				<i class="icon icon-paper-plane large-icon"></i>
			</div>
		</div>
	</div>
</section>
