
/*****************************************************************************
 * URL's
 ***/

@urlAssets: '../assets/';

/*****************************************************************************
 * Text
 ***/

/* Font family */
@fontFamily: 'Open Sans', sans-serif;

/* Font weights and styles */
@fontWeightNormal: 300;
@fontWeightBold: 600;
@fontStyleNormal: normal;
@fontStyleItalic: italic;

/* Font sizes */
@fontSizeNormal: 1rem;
@fontSizeSmall: .8rem;

/* Line height */
@lineHeight: 2rem;

/*****************************************************************************
 * Colors
 ***/

/* Basic colors */
@colorBlack: #000;
@colorWhite: #fff;
@colorPrimary: #2078be;

/* Text colors */
@colorText: #333;
@colorTextLight: #ccc;
@colorTextLink: @colorPrimary;
@colorTextError: #c22;

/* Background colors */
@colorBgBody: #f5f5f5;
@colorBgMain: #fff;
@colorBgDarkGrey: #333;
@colorBgLightBlue: #84b4db;
@colorBgLightGrey: #eee;
@colorBgButton: @colorPrimary;
@colorBgButtonPrimary: @colorPrimary;

/* Shadows */
@shadowSections: 0 0 40px rgba(0,0,0,0.6);
@shadowImages: 10px 10px 30px rgba(0,0,0,0.3);

/*****************************************************************************
 * Spacing and dimensions
 ***/

/* Vertical margins */
@marginParagraph: @lineHeight;
@marginSection: 2rem;

/* Header */
@heightHeader: 4rem;
@heightHeaderTall: 6rem;
