<section class="section padded" id="clients">
	<div class="confined HomeClients">
		<work-items>
			<work-item logo="tno.png">
				Standalone web based risk analysis demo application with dynamic SVG rendering
			</work-item>
			<work-item logo="eurofins.png">
				Control software and HMI for a supervisory control and data acquisition system
			</work-item>
			<work-item logo="tecnic.png">
				Control software and HMI's for projects in the bio medical industry
			</work-item>
			<work-item logo="travelport.png">
				Integrated Travelport API's with online e-ticketing website
			</work-item>
			<work-item logo="aqualab.png">
				Control software, human machine interface and server maintenance
			</work-item>
			<work-item logo="travelfusion.png">
				Integrated Travelfusion API's with online e-ticketing website
			</work-item>
			<work-item logo="neurocenters.png">
				Online psychological test suite to detect onset of neurological disorders
			</work-item>
			<work-item logo="sdna.png">
				Secure database for storage of anti-theft kit data and protected police queries
			</work-item>
			<work-item logo="lavetan.png">
				Control software and HMI for a supervisory control and data acquisition system
			</work-item>
			<work-item logo="epona.png">
				Human machine interface for realistic baby robot simulator
			</work-item>
			<work-item logo="brandweer.png">
				Elaborate backend to manage volunteer firemen registrations per region
			</work-item>
			<work-item logo="keytrade.png">
				Test suite with analysis tool to validate economical models and generate reports
			</work-item>
			<work-item logo="octatube.png">
				Responsive website with backend management system
			</work-item>
			<work-item logo="rhine.png">
				Secure database for storage of anti-theft kit data and protected police queries
			</work-item>
			<work-item logo="ahh.png">
				Backend system to manage 3rd party flash driven dynamic website front-end
			</work-item>
		</work-items>
	</div>
</section>
